<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>詳細画面</title>
</head>

<body>
	<h1>詳細画面</h1>
	<table border="1">
		<thead>
			<tr>
				<td th:text="${contact.id}">お問い合わせID</td>
				<td th:text="${contact.lastName}">姓</td>
				<td th:text="${contact.firstName}">名</td>
				<td th:text="${contact.Email}">メールアドレス</td>
				<td th:text="${contact.Phone}">電話番号</td>
				<td th:text="${contact.ZipCode}">郵便番号</td>
				<td th:text="${contact.Address}">住所</td>
				<td th:text="${contact.BuildingName}">建物名</td>
				<td>
					<span th:if="${contact.contactType == 'services'}">
						サービスに関するお問い合わせ
					</span>
					<span th:if="${contact.contactType == 'technicalQuestions'}">
						技術的なお問い合わせ
					</span>
					<span th:if="${contact.contactType == 'others'}">
						その他
					</span>
				</td>
				<td th:text="${contact.Body}">お問い合わせ内容</td>
				<td th:text="${#temporals.format(contact.createdAt, 'yyyy/MM/dd HH:mm')}">作成日時</td>
				<td th:text="${#temporals.format(contact.updatedAt, 'yyyy/MM/dd HH:mm')}">更新日時</td>
			</tr>
		</thead>
	</table>
</body>

</html>